@model TimetableMVCApp.Models.Day

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>Day</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Time)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Time.TimeId)
        </dd>
    </dl>
</div>
<div>
    <p class="btn btn-secondary">
        <a asp-action="Edit" asp-route-id="@Model?.DayId">Edit</a>
    </p>
    <p class="btn btn-warning">
        <a asp-action="Index">Back to List</a>
    </p>
</div>
